body, html {
    min-width: 100vw;
    min-height: calc(100vw * 1080px / 1920px);;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    position: relative;
}

img {
    position: absolute;
    height: 0;
    opacity: 0;
}

canvas {
    // border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // left: 50%;
    // right: 0;
    // bottom: 0;
    // width: calc(100% - 2px);
    // height: calc((100% * 1080px / 1920px) - 2px);

    box-sizing: border-box;
    // transform: translateX(-50%);

    // // bottom: 0;
    // // right: 0;
    // width: 100%;
    // height: 100%;

    // // &.fade {
    // //     transition: opacity 3000ms;
    // //     opacity: 0;
    // // }
}

////////////
// body {
//     border: 2px solid #f60;
//     box-sizing: border-box;
// }
// canvas {
//     border: 2px solid red;
//     box-sizing: border-box;
// }