{{ define "main" }}
<style>
    body {
        min-width: 100vw;
        min-height: 100vh;
        margin: 0;
        border: 0;
        padding: 0;
    }
    #dialog {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #dialog .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        
        padding: 2% 5%;
        box-shadow: 0 0 50px 10px rgba(0,0,0,1);
        
        background: #fff;
    }
    #dialog .buttons {
        padding: 20px 10px;
        
        display: flex;
        justify-content: center;
        column-gap: 50px;
    }
    #dialog button {
        border-radius: 50em;
        padding: .5em 2em;
    }
</style>

<canvas id="bg"  width="1920" height="1080"></canvas>
<canvas id="mid" width="1920" height="1080"></canvas>
<canvas id="fg"  width="1920" height="1080"></canvas>
<template id="template-dialog">
    <div id="dialog">
        <div class="box">
            <div id="question">Do you want to submit your answer?</div>
            <div class="buttons">
                <button type="button" id="btnYes">Yes</button>
                <button type="button" id="btnNo">No</button>
            </div>
        </div>
    </div>
</template>



<!-- <script src='{ {(resources.Get "/js/test.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/image.js").Permalink}}'></script>
<script src='{{(resources.Get "/js/canvas.js").Permalink}}'></script>
<script src='{{(resources.Get "/js/canvasItem.js").Permalink}}'></script>
<!-- <script src='{ {(resources.Get "/js/canvasShape.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/canvasImage.js").Permalink}}'></script>
<!-- <script src='{ {(resources.Get "/js/celestialBody.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/intro.js"   | resources.ExecuteAsTemplate "js/intro.js"  . ).Permalink}}'></script>
<script src='{{(resources.Get "/js/lesson.js"  | resources.ExecuteAsTemplate "js/lesson.js" . ).Permalink}}'></script>
<script src='{{(resources.Get "/js/quiz1.js"   | resources.ExecuteAsTemplate "js/quiz1.js"  . ).Permalink}}'></script>
<script src='{{(resources.Get "/js/quiz2.js"   | resources.ExecuteAsTemplate "js/quiz2.js"  . ).Permalink}}'></script>
<script src='{{(resources.Get "/js/quiz3.js"   | resources.ExecuteAsTemplate "js/quiz3.js"  . ).Permalink}}'></script>
<script src='{{(resources.Get "/js/quiz4.js"   | resources.ExecuteAsTemplate "js/quiz4.js"  . ).Permalink}}'></script>

<script>
    const clientRect = document.body.getBoundingClientRect();
    const bg  = new Canvas(document.querySelector("#bg" ), clientRect.width, clientRect.height);
    const mid = new Canvas(document.querySelector("#mid"), clientRect.width, clientRect.height);
    const fg  = new Canvas(document.querySelector("#fg" ), clientRect.width, clientRect.height);
    const image = new Image();

    const clearAllCanvas = ()=>{
        bg.removeAllItems();
        mid.removeAllItems();
        fg.removeAllItems();
    
        bg.clear();
        mid.clear();
        fg.clear();
    }

    const drawSplash = (imgurl, canvas = bg) =>{
        return new Promise((resolve)=>{
            (async ()=>{
                canvas.addItem(new CanvasImage(await image.load(imgurl), 0, 0, 1920, 1080));
                canvas.draw();
                fg.addEventListener("click", ()=>resolve(), {once: true});
            })();
        });
    }

    const isInPath = (x, y, path, ctx = fg.ctx, originX = 0, originY = 0, scaleX = 1, scaleY = 1)=>{
        let retval = false;

        ctx.save();

        ctx.translate(originX, originY);

        const p = new Path2D(path);
        ctx.scale(scaleX, scaleY);

        retval = ctx.isPointInPath(p, x, y);
        
        ctx.restore();
        
        return retval;
    }


    (async ()=>{
        //#region preload images
        [
            '{{(resources.Get "/img/lecture/1- COVER.jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/2- Preface.jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/3- TRANSITION.jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/4- SOLAR SYSTEM 6.jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/5-SS 1.png").Permalink}}',
            '{{(resources.Get "/img/lecture/5-SS 2.png").Permalink}}',
            '{{(resources.Get "/img/lecture/5-SS 3.png").Permalink}}',
            '{{(resources.Get "/img/lecture/6-PLANETS .jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/7- 3 CRITERIA.png").Permalink}}',
            '{{(resources.Get "/img/lecture/8- PLUTO.png").Permalink}}',
            '{{(resources.Get "/img/lecture/9- Terrestrial Planets 1.jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/9- Terrestrial Planets 2.jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/10-ASTEROID BELT 1.png").Permalink}}',
            '{{(resources.Get "/img/lecture/11-Jovian Planets 1.jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/11-Jovian Planets 2.jpg").Permalink}}',
            '{{(resources.Get "/img/lecture/12-KUIPER BELT.png").Permalink}}',

            '{{(resources.Get "/img/journey/sun.png").Permalink}}',
            '{{(resources.Get "/img/lecture/sun1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/sun2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/sun3-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/mercury-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/mercury1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/mercury2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/venus-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/venus1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/venus2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/earth.png").Permalink}}',
            '{{(resources.Get "/img/lecture/earth1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/earth2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/earth3-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/mars-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/mars1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/mars2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/jupiter-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/jupiter1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/jupiter2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/jupiter3-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/saturn-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/saturn1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/saturn2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/saturn3-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/uranus-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/uranus1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/uranus2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/uranus3-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/neptune-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/neptune1-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/neptune2-cropped.png").Permalink}}',
            '{{(resources.Get "/img/lecture/neptune3-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/comet_PNG38 (1).png").Permalink}}',
            '{{(resources.Get "/img/lecture/comet-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/asteroid.png").Permalink}}',
            '{{(resources.Get "/img/lecture/asteroid-cropped.png").Permalink}}',
            '{{(resources.Get "/img/journey/astronaut.png").Permalink}}',
            '{{(resources.Get "/img/lecture/BACKGROUND].jpg").Permalink}}',
        ].reduce(async (prevPromise, url) => {
            await prevPromise;
            return image.load(url);
        }, Promise.resolve());
        
        //#endregion


        // await intro();
        // await lesson();
        // await quiz1();
        // await quiz2();
        // await quiz3();
        await quiz4();
        console.log("end");

    })();
</script>
{{ end }}
