{{ define "main" }}
<canvas id="bg"  width="1920" height="1080"></canvas>
<canvas id="mid" width="1920" height="1080"></canvas>
<canvas id="fg"  width="1920" height="1080"></canvas>



<!-- <script src='{ {(resources.Get "/js/test.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/image.js").Permalink}}'></script>
<script src='{{(resources.Get "/js/canvas.js").Permalink}}'></script>
<script src='{{(resources.Get "/js/canvasItem.js").Permalink}}'></script>
<!-- <script src='{ {(resources.Get "/js/canvasShape.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/canvasImage.js").Permalink}}'></script>
<!-- <script src='{ {(resources.Get "/js/celestialBody.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/intro.js"   | resources.ExecuteAsTemplate "js/intro.js"  . ).Permalink}}'></script>
<script src='{{(resources.Get "/js/lesson.js"  | resources.ExecuteAsTemplate "js/lesson.js" . ).Permalink}}'></script>


<script>
    const clientRect = document.body.getBoundingClientRect();
    const bg  = new Canvas(document.querySelector("#bg" ), clientRect.width, clientRect.height);
    const mid = new Canvas(document.querySelector("#mid"), clientRect.width, clientRect.height);
    const fg  = new Canvas(document.querySelector("#fg" ), clientRect.width, clientRect.height);
    const image = new Image();

    // // getX = (x) => {return x * fg.canvas.offsetWidth / 1920}
    // // getY = (y) => {return y * fg.canvas.offsetHeight / 1080 }
    // // getW = (w) => {return w * fg.canvas.offsetWidth / 1920 }
    // // getH = (h) => {return h * fg.canvas.offsetHeight / 1080 }
    // getX = (x) => {return x}
    // getY = (y) => {return y}
    // getW = (w) => {return w}
    // getH = (h) => {return h}

    (async ()=>{
        // await intro();
        await lesson();
        
        console.log("end");



    // })();  

    // // function tracking(msg) {console.debug(msg)}

    // // /**
    // //  * loads an image asynchronously
    // //  * @params (string) imgurl
    // //  */
    // // function loadImg(imgurl){
    // //     return new Promise(resolve => {
    // //         document.querySelectorAll("img").forEach(img=>{
    // //             if (img.src == imgurl) {
    // //                 tracking(`img already loaded ${imgurl}`);
    // //                 resolve(img);
    // //                 return;
    // //             }
    // //         });

    // //         const img = document.createElement("IMG");
    // //         document.body.appendChild(img);
    // //         img.style.display = "none";
    // //         img.src = imgurl;
    // //         img.addEventListener("load", ()=>{
    // //             tracking(`img loaded ${imgurl}`);
    // //             resolve(img);
    // //         })

    // //     })
    // // }

    // // function getX(x) { return x;}
    // // function getY(y) { return y;}
    // // function getWidth(w) { return w;}
    // // function getHeight(h) { return h;}
    // // function getRadius(r) { return r;}
    
    
    // // (async ()=>{
    // //     await new Promise((resolve, reject)=>{
    // //         domready(()=>{resolve()});
    // //     })

    // //     tracking("start");
    // //     const bg = new Canvas("#bg");
    // //     const mid = new Canvas("#mid");
    // //     const mid1 = new Canvas("#mid1");
    // //     const mid2 = new Canvas("#mid2");
    // //     const fg = new Canvas("#fg");

    // //     let step = "intro";
    // //     step = "journey";
    // //     loop: {
    // //         for(;;) {
    // //             switch(step) {
    // //                 case "intro":
    // //                     if (await intro(bg, mid, fg) == "next") {
    // //                         step = "journey";
    // //                     }
    // //                     break;
    // //                 case "journey":
    // //                 if (await journey(bg, mid, mid1, mid2, fg) == "next") {
    // //                         step = "end";
    // //                     }
    // //                     break;
    // //                 case "end":
    // //                     tracking("end");
    // //                     break loop;
    // //             }
    // //         }
    // //     }
    })();
</script>
{{ end }}
