{{ define "main" }}
<canvas id="bg"  width="1920" height="1080"></canvas>
<canvas id="mid" width="1920" height="1080"></canvas>
<canvas id="fg"  width="1920" height="1080"></canvas>



<!-- <script src='{ {(resources.Get "/js/test.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/image.js").Permalink}}'></script>
<script src='{{(resources.Get "/js/canvas.js").Permalink}}'></script>
<script src='{{(resources.Get "/js/canvasItem.js").Permalink}}'></script>
<!-- <script src='{ {(resources.Get "/js/canvasShape.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/canvasImage.js").Permalink}}'></script>
<!-- <script src='{ {(resources.Get "/js/celestialBody.js").Permalink}}'></script> -->
<script src='{{(resources.Get "/js/intro.js"   | resources.ExecuteAsTemplate "js/intro.js"  . ).Permalink}}'></script>
<script src='{{(resources.Get "/js/lesson.js"  | resources.ExecuteAsTemplate "js/lesson.js" . ).Permalink}}'></script>
<script src='{{(resources.Get "/js/quiz1.js"  | resources.ExecuteAsTemplate "js/quiz1.js" . ).Permalink}}'></script>


<script>
    const clientRect = document.body.getBoundingClientRect();
    const bg  = new Canvas(document.querySelector("#bg" ), clientRect.width, clientRect.height);
    const mid = new Canvas(document.querySelector("#mid"), clientRect.width, clientRect.height);
    const fg  = new Canvas(document.querySelector("#fg" ), clientRect.width, clientRect.height);
    const image = new Image();

    (async ()=>{
        // await intro();
        // await lesson();
        await quiz1();
        console.log("end");

    })();
</script>
{{ end }}
